body {
  background-color: rgb(64, 64, 64);
}

.klasa1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(112, 105, 105);
  width: 50px;
  height: 50px;
  color: white;
  text-align: center;
  align-items: center;
  cursor: grab;
  margin: 1rem;
}

.klasa2 {
  display: flex;
  width: 0px;
}

.klasa3 {
  display: flex;
  justify-content: center;
  margin: 1rem;
  align-items: center;
  width: 50%;
  height: 20vh;
  background-color: rgb(146, 144, 144);
}

.klasa4 {
  display: flex;
  margin: 1rem;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 20vh;
  background-color: rgb(149, 233, 169);
}

.klasa5 {
  display: flex;
  margin: 1rem;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 20vh;
  background-color: rgb(233, 162, 149);
}

.cont-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  height: 20vh;
  background-color: rgb(42, 50, 63);
}
.item-look {
  display: flex;
  width: 100px;
  height: 100px;
  background-color: rgb(71, 36, 103);
  color: white;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  cursor: grab;
}

.klasaP {
  display: flex;
  width: 100px;
  height: 100px;
  background-color: rgb(199, 177, 220);
  color: white;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  cursor: grab;
}
